.row {
    max-width: 250px;
    display: inline-table;
    margin: auto;
    padding: 2px;
}

.card {
    width: max-content;
    background-color:white;
    padding: 4px;
    box-shadow: 5px 10px 5px #888888;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9pt;
}

.card-img-top {
    max-width: 250px;
}

.card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt; 
}

.botoes {
    position: absolute;
}


html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
